

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@font-face {
   font-family: "NN-Dagny-Display";
   src: url("../fonts/NNDagnyDisplayWebPro.eot");
   src: url("../fonts/NNDagnyDisplayWebPro.woff") format("woff");
   font-weight: normal;
   font-style: normal;
 }

@font-face {
font-family: "NN-Dagny-Text";
src: url("../fonts/NNDagnyTextWeb.eot");
src: url("../fonts/NNDagnyTextWeb.woff") format("woff");
font-weight: normal;
font-style: normal;
}


body {
  font-family: "NN-Dagny-Text", Calibri, Corbel, Verdana, sans-serif;
  color: #414141;
}

h1, h2, .pension dl dd, h3, h4, h5, h6 {
    font-family: "NN-Dagny-Display", Calibri, Corbel, Verdana, sans-serif;
    margin-top: 0;
    margin-bottom: 15px;
    font-weight: normal;
}

.display {
  font-family: "NN-Dagny-Display", Calibri, Corbel, Verdana, sans-serif;
}

.colored {
    color: #ea650d;
}
.light {
    color: #ee7f00;
}
.medium {
    color: #ea650d;
}
.dark {
    color: #e64415;
}

.nn-age-input,input[name="averageMonthlyIncome"] {
  font-size:400%;
  width:4em;
  border:2px solid #ea650d;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

input[name="averageMonthlyIncome"], {
  width:200px;
}

.margin-top-50 {
  margin-top: 50px;
}

.margin-bottom-50 {
  margin-bottom: 50px;
}

.font-200-p {
  font-size: 200%;
}

.font-300-p {
  font-size: 300%;
}

.extra-light-grey-bg {
  background-color: #e5ded9;
}

.form-padding {
  padding-top:20px;
  padding-bottom: 20px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.rzslider .rz-bar {
  background: #ee7f00 !important;
}

.rzslider .rz-bar.rz-selection, .rzslider .rz-pointer {
  background: #ea650d !important;
}

.rzslider .rz-pointer.rz-active:after {
  background-color: white !important;
}

button {
  font-size:17px;
  color: #ea650d;
  background-color:white;
  border:none;
  padding-left: 10px;
  padding-right: 10px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  height:38px;
  font-family: "NN-Dagny-Display", Calibri, Corbel, Verdana, sans-serif;
}


button.active {
  color: white;
  background-color:#ea650d;

}

.quote-image {
  width:100%;
  min-height:600px;
  padding-top:200px;
  background-image:url(../img/lets-invest-buffett-with-obama.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.quote-box {
  width: 350px;
  padding: 30px 20px 20px 30px;
  background-color: white;
  -webkit-border-radius: 0px 5px 5px 0px;
  border-radius: 0px 5px 5px 0px;
}

.quote-paragraph {
  font-family: "NN-Dagny-Display", Calibri, Corbel, Verdana, sans-serif;
  font-size: 20px;
}

.navbar-menu, .navbar-toggle {
  position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 12px;
    margin-right: 15px;
    margin-bottom: 0px;
    background-color: transparent;
    background-image: none;
}

.icon-bar {
    background-color: #ea650d;
}

.icon-bar {
    display: block;
    width: 32px !important;
    height: 4px!important;
    border-radius: 2px!important;
}

.icon-bar+.icon-bar {
    margin-top: 5px!important;
}

.float-right {
  position: relative;
  float:right;
}

.float-right .dropdown-menu {
  left:-160px;
}

.app-name {
  height:30px;
  margin-top:-30px;
  position:relative;
  top:55px;
}

.image-fill-div {
  width:100%;
  max-width:500px;
}


select {
  width:300px;
  background:white;
  border:0px solid #ea650d;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font-size: 16px;
}
.form-label {
  font-size:16px;
  margin-bottom:10px;
}

label.form-label {
  font-weight:normal;
  margin-top:31px;
}

.age-calculation-results {
  margin-top:15px;
  font-size:200%;
}
.age-calculation-result{
  font-size:40px;
}

.state-flow-nav {
  margin-top:50px;
}

.form-line+.form-line{
  margin-top:31px;
}

.info-box {
  margin-top: 31px;
  border:2px solid #ea650d;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  font-size:200%;

}

.info-box p {
  margin: 20px 20px;
}

.big-number {
  text-align:center;
  font-size:300%;
}

.info-source {
  font-size:50%;
  color: #414141;
}




@media (max-width: 768px) {
      .col-sm-6.text-right, .col-sm-6.text-left {
              text-align: center;
       }
       .col-sm-6.text-right {
         margin-top:10px;
       }
       .app-name {
         font-size:10px;
         top:60px;
         left: 10px;
       }
       h1 {
         font-size: 24px;
       }
       .nn-age-input, input[name="averageMonthlyIncome"] {
         width:100%;
         font-size: 16px;
         text-align: left;
         padding-left:4px;
         border:0px solid #ea650d;
         -webkit-border-radius: 3px;
         border-radius: 3px;
         color:inherit;

       }
       .rzslider {
         margin:20px 0 31px 0!important;
       }
       select {
         width:100%;
         background:white;
         border:0px solid #ea650d;
         -webkit-border-radius: 3px;
         border-radius: 3px;
         font-size: 16px;
       }
       select::before {
         content: ">";
       }
       label[for="genderSelect"] {
         margin-top:20px;
       }
       .age-calculation-results {
         font-size:120%;
       }
       .age-calculation-results .text-center {
         text-align:left;
       }
       .age-calculation-result{
         font-size:32px;
       }
       .state-flow-nav {
         margin-top:20px;
       }

       .quote-box {
         width: 100%;
         background-color: rgba(255,255,255,0.9);

       }
       .quote-image {
         min-height: 550px;
         padding-top: 210px;
         background-position-x: -200px;

       }
       label.form-label {
         margin-top:0px;
       }
       .form-line+.form-line {
         margin-top:14px;
       }
    }
