<div class="col-sm-12">
  <h1 class=""><span class="light">Kolik</span> <span class="medium">budete</span> <span class="dark">mít</span> <span class="medium">v</span> <span class="light">důchodu?</span></h1>
  <h2 class="">Průměrná mzda</h2>
</div>
<div class="col-sm-12 extra-light-grey-bg form-padding">
  <div class="col-sm-3">
    <input type="number"
    name="averageMonthlyIncome"
    placeholder="15000"
    min="10000"
    value="15000"
    size="5"
    maxlength="5"
    class="medium text-center"
    ng-model="ctrl.averageMonthlyIncome"
    ng-change="ctrl.update()">
  </div>
  <div class="col-sm-9">
    <rzslider
           rz-slider-model="ctrl.averageMonthlyIncome"
           rz-slider-options="ctrl.incomeSlider.options"
           ></rzslider>
  </div>

  <div class="col-sm-3">
    <input type="number"
    name="yearsOfInsurance"
    placeholder="40"
    min="20"
    value="40"
    size="2"
    maxlength="2"
    class="medium text-center"
    ng-model="ctrl.yearsOfInsurance"
    ng-change="ctrl.update()">
  </div>
  <div class="col-sm-9">
    <rzslider
           rz-slider-model="ctrl.yearsOfInsurance"
           rz-slider-options="ctrl.yearsOfInsuranceSlider.options"
           ></rzslider>
  </div>

</div>

<div class="col-sm-12 margin-top-50 font-200-p" ng-if="ctrl.estimatedPension">
  <div class="col-sm-6 text-center">
    Důchod budete mít zhruba<br><span class="dark font-300-p">{{ ctrl.estimatedPension | currency:"Kč":0 }}</span>
  </div>
  <div class="col-sm-6 text-center">
    Čistý příjem vám klesne o<br><span class="dark font-300-p">{{ ctrl.incomeLoweredBy | number:1 }} %</span>
  </div>
</div>
