<div class="col-sm-12">
  <h1 class=""><span class="light">Jak</span> <span class="medium">vysoký</span> <span class="dark">budete</span> <span class="medium">mít</span> <span class="light">důchod?</span></h1>
</div>
<div class="col-sm-12 extra-light-grey-bg form-padding expected-pension-form">
  <div class="clearfix form-line">
    <div class="col-sm-12">
      <p class="medium display form-label">Vyměřovací základ (průměrná mzda)</p>
    </div>
    <div class="col-sm-3">
      <input type="number"
      name="averageMonthlyIncome"
      placeholder="15000"
      min="10000"
      ng-min="10000"
      value="15000"
      max="60000"
      ng-max="60000"
      step="5000"
      size="5"
      maxlength="5"
      class="medium text-center input-with-currency"
      ng-model="ctrl.averageMonthlyIncome"
      ng-change="ctrl.update()">
    </div>
    <div class="col-sm-9">
      <rzslider
             rz-slider-model="ctrl.averageMonthlyIncome"
             rz-slider-options="ctrl.incomeSlider.options"
             ></rzslider>
    </div>
  </div>
  <div class="clearfix form-line">
    <div class="col-sm-12">
      <p class="medium display form-label">Počet odpracovaných let</p>
    </div>
    <div class="col-sm-3">
      <input type="number"
      name="yearsOfInsurance"
      placeholder="40"
      min="20"
      value="40"
      size="2"
      maxlength="2"
      class="medium text-center nn-age-input"
      ng-model="ctrl.yearsOfInsurance"
      ng-change="ctrl.update()">
    </div>
    <div class="col-sm-9">
      <rzslider
             rz-slider-model="ctrl.yearsOfInsurance"
             rz-slider-options="ctrl.yearsOfInsuranceSlider.options"
             ></rzslider>
    </div>
  </div>




</div>

<div class="col-sm-12 age-calculation-results" ng-if="ctrl.output.estimatedPension">
  <div class="col-sm-6 text-center">
    Důchod budete mít zhruba<br><span class="dark age-calculation-result">{{ ctrl.output.estimatedPension | currency:"Kč":0 }}</span>
  </div>
  <div class="col-sm-6 text-center">
    Čistý příjem vám klesne o<br><span class="dark age-calculation-result">{{ ctrl.output.incomeLoweredBy | number:1 }} %</span>
  </div>
</div>

<div class="col-sm-12">
  <p class="info-source">Přibližný výpočet státního starobního důchodu. Zdroj: ČSSZ, <a href="http://www.cssz.cz/cz/duchodove-pojisteni/duchodova-kalkulacka/kalkulacka-pro-orientacni-vypocet-starobniho-duchodu.htm">http://www.cssz.cz/cz/duchodove-pojisteni/duchodova-kalkulacka/kalkulacka-pro-orientacni-vypocet-starobniho-duchodu.htm</a></p>
</div>
