<div class="col-sm-12">
  <h1 class=""><span class="light">Za jak</span> <span class="medium">dlouho půjdete</span> <span class="dark">do důchodu?</span></h1>
</div>
<div class="col-sm-12 extra-light-grey-bg form-padding">
  <div class="col-sm-3">
    <p class="medium display form-label">Ročník narození klienta</p>
    <input type="number"
    name="yearOfBirth"
    placeholder="1951"
    min="1951"
    value="1951"
    size="4"
    maxlength="4"
    class="medium text-center nn-age-input"
    ng-model="ctrl.yearOfBirth"
    ng-change="ctrl.update()">
  </div>
  <div class="col-sm-9">
    <rzslider
           rz-slider-model="ctrl.yearOfBirth"
           rz-slider-options="ctrl.slider.options"
           ></rzslider>
  </div>

  <div class="col-sm-12">
    <form name="myForm">
      <label for="monthOfBirthSelect" class="medium display form-label">Měsíc narození klienta</label>
      <select name="monthOfBirthSelect" ng-model="ctrl.monthOfBirth" ng-options="key as value for (key,value) in ctrl.monthsList" ng-change="ctrl.update()">
      </select>
    </form>
  </div>

  <div class="col-sm-12">
    <form name="myForm">
      <select name="" ng-model="ctrl.gender" ng-options="key as value for (key,value) in ctrl.genderList" ng-change="ctrl.update()">
      </select>
    </form>
  </div>


</div>

<hr>
<div class="col-sm-12 margin-top-50 font-200-p" ng-if="(ctrl.timeUntilRetirement.decimalValue > 0)">
  <div class="col-sm-6 text-center">
    Do důchodu půjdete <br><span class="dark font-300-p">{{ ctrl.estimatedYearOfRetirement.month }}<br>{{ ctrl.estimatedYearOfRetirement.year }}</span>
  </div>
  <div class="col-sm-6 text-center">
   Do důchodu půjdete za<br><span class="dark font-300-p">{{ ctrl.timeUntilRetirement.year }} let<br>{{ ctrl.timeUntilRetirement.month }} měsíců</span>
  </div>
</div>

<div class="col-sm-12 margin-top-50 font-200-p text-center" ng-if="(ctrl.timeUntilRetirement.decimalValue <= 0)">
  Již máte nárok jít do důchodu
</div>
